<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>TradeUp</title>
</head>

<body>
    {{!-- HEADER --}}
    <header>
      <div>
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center">TradeUp</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>
      </div>
      
      

        <!-- Conditionally render login or logout links -->
        {{!-- {{#if logged_in}}
        <a href="/profile">profile</a>
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login"></a>
        {{/if}} --}}

      <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
      </header>
    
    

    {{!-- MAIN --}}
    <main class="">
      {{{ body }}}
    </main>

    {{!-- FOOTER --}}
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container center">
            © 2022 Copyright 
        </div>
      </div>
    </footer>
  

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });
</script>
</body>
</html>
{{!-- <script>
 //document.addEventListener('DOMContentLoaded', function() {
 //   var elems = document.querySelectorAll('.dropdown-trigger');
  //  var instances = M.Dropdown.init(elems, options);
  });
</script> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

