<div class="">

  <div class="">
    <h2><a href="/item/{{item.id}}">{{item.name}}</a></h2>
    <p>{{item.desc}}</p>
    <p>Posted by {{item.user.name}}</p>
  </div>

<button id="trade-button">Trade</button>
</div>