<div class="welcome">
  <p>Welcome to Trade & Barter. Bringing the community closer together one trade at a time.</p>
</div>

<div class="row login">
  <div class="col-md-6">
    <h3>Login</h3>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary logSinBtn" type="submit">login</button>
      </div>
    </form>
  </div>

  <hr>
  
  <div class="col-md-6 signUp">
    <h3>Signup</h3>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary logSinBtn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./public/js/login.js"></script>
