{{!-- PROFILE HEADER --}}
<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel gray lighten-5 z-depth-1">
    <div class="row valign-wrappers ">
      <div class="col m3 push-m8">
        <img src="images/andy.jpeg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
      </div>

      <div class="col m5 pull-m1 aboutDiv"><!-- <div class="col m8 pull-m3 center"> -->
        <p class="flow-text">
          Hi, my name is Andy. I've got gadgets and gizmos a-plenty. I've got whozits and whatzits galore. You want thingamabobs? I've got twenty! Let's trade!
        </p>
      </div>
    </div>
  </div>
</div>

<div id="profile-main">
  <form class="new-project-form">
    <div>
      <h4> Upload Item</h4>
      <input id="item-title" type="text" placeholder="Title">
      <input id="item-desc" type="text" placeholder="Description">
      <input id="item-qual" type="text" placeholder="Quality">
      <button class="waves-effect waves-light btn" type="submit" id="create-item-btn">Upload</button>
    </div>
  </form>

  <h4>Inventory</h4>

  {{#each items as |item| }}
  <div class="row gsCards">
      <div class="card pgCards">
        <div class="card-image">
          <img src="https://www.thepuffpack.com/wp-content/uploads/2020/10/mysteryitem.jpg">
          <span><a id="card-title" href="/item/{{item.id}}">{{item.name}}</a></span>
        </div>

        <div class="card-content">
          <p>{{item.desc}}</p>
          <p>Posted by {{item.quality}}</p>
        </div>
      </div>
  </div>
  {{/each}}

</div>

<script src="./js/profile.js"></script>