:root{
    --jungleGreen: #145250;
    --desertSand: #d9c5b2;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    color: var(--desertSand);
    background: var(--jungleGreen);
}

.nav-wrapper{
    color: #d9c5b2;
}

body{
    background-color: rgb(233, 233, 233);
}



.popGoodsServices{
    color: var(--jungleGreen);
    font-weight: bold;
    background-color: var(--desertSand);
    padding-top: .1px;
    padding-bottom: 1px;
    padding-left: 25px;
    border-bottom: solid 10px rgb(218, 215, 215);
}

.popTitle{
    font-weight:bold;
}

.container{
    color: var(--jungleGreen);

}

.filters{
    color: var(--jungleGreen);
    font-weight: bold;
    margin-top: 30px;
    padding-left: 25px;

}

.filtersBtn{
    color: var(--desertSand);
    background-color: var(--jungleGreen);
}

/* .goodsServices{
    /* Turns this element into a flexbox
  display: flex;
  /* Forces elements to the next line if they don't fit 
  flex-wrap: wrap;
  margin-top: 2%; 
}  */

.gsCards{
    display: inline-flex;
}

.pgCards{
    border: 2px solid var(--jungleGreen);

}
.card{
    width: 300px;
    /*flex: 0 1 200px;*/
    margin: 30px;
    
}

.card:hover{
    box-shadow: 10px 10px rgb(153, 152, 152);
}

.card-image{
    background-color: #d9c5b2;
}

.goodsServices{
    padding-left: 25px;
    color: var(--jungleGreen);
}

.welcome{
    flex-wrap: wrap;
    color: var(--jungleGreen);
    background-color: var(--desertSand);
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.loginBanner{
    padding: 80px;
}

.login{
    color: var(--desertSand);
    font-weight: bold;
    background-color: var(--jungleGreen);
    display:block;
    margin-left: 10%;
    margin-right: 10%;
}

hr{
    margin: 40px 0 40px 0;
    border: 8px solid;
    background: linear-gradient(to right,var(--desertSand), white);
}

label{
    color: var(--desertSand);
    font-size: medium;
}

.form-input{
    color: var(--desertSand);
}

.logSinBtn{
    color: var(--jungleGreen);
    font-weight: bold;
    background-color: var(--desertSand);
}


.page-footer{
    background-color:var(--desertSand);
    font-weight: bold;
    /* position: fixed; */
    bottom: 0;
    padding-top: 0;
    width: 100%;
    position: absolute;
    height: 2.5rem;
}

.item-page{
    margin-top: 10%;
}

.item-container{
    background-color: var(--desertSand);
    width: 50%;
    margin-left: 25%;
    border-radius: 10px 10px 10px 10px;
}
.item-det{
    font-weight: 700;
}

.item-text{
    font-size: 20px;
}
#emailBtn{
    background-color: var(--jungleGreen);
    color: white;
    font-size: 18px;
    width: 20px;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
}

#inquire{
    border-top: solid 2px gray;
    margin-left: 20%;
    width: 60%;
    padding-top: 25px;
    margin-top: 50px;
}